<div class="mb-3 text-end">
  <%= link_to 'メンターを追加', new_mentor_avatar_path, class: 'btn btn-success' %>
  <%= link_to '現在のメンター', current_mentor_avatar_path, class: 'btn btn-outline-primary ms-2' %>
</div>

<h3>登録済みメンター一覧</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
      <th>説明</th>
      <th>レベル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mentor_avatars.each do |avatar| %>
      <tr>
        <td><%= image_tag avatar.image.attached? ? url_for(avatar.image) : 'default.png', style: 'max-height: 80px;' %></td>
        <td><%= avatar.name %></td>
        <td><%= avatar.description %></td>
        <td><%= avatar.level %>段階</td>
        <td><%= link_to '詳細', mentor_avatar_path(avatar), class: 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table> 