<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body text-center">
        <h1 class="card-title">メンターアバターの詳細</h1>

        <div class="my-4">
          <% if @mentor_avatar.present? %>
            <%= image_tag @mentor_avatar.image_url, class: "img-fluid rounded", style: "max-height: 400px;" %>
          <% else %>
            <div class="alert alert-info">
              メンターアバターが登録されていません。
            </div>
          <% end %>
        </div>

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th style="width: 30%">成長段階</th>
                <td><%= @mentor_avatar.level %>段階</td>
              </tr>
              <tr>
                <th>総開発時間</th>
                <td><%= @mentor_avatar.user.total_development_time %>分</td>
              </tr>
              <tr>
                <th>達成数</th>
                <td><%= @mentor_avatar.user.achievements.count %></td>
              </tr>
              <tr>
                <th>最終更新日時</th>
                <td><%= @mentor_avatar.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-4">
          <%= link_to "一覧に戻る", mentor_avatars_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
